/*Defino variables del css de colores que se repiten */

:root {
  --box-shadow: #00E6F6;
  --background-boton-color:#43182f;
}

footer {
  background-color: #a48c8c;
}

h4 {
  font-family: "Sacramento", cursive;
  font-size: 30px;
  color: #693131;
}

h3 {
  font-family: "Sacramento", cursive;
  font-size: 50px;
  font-weight: bolder;
  color: #43182f;

}

p {
  font-family: "Crimson Pro", cursive;
}

.navbar-nav .nav-item .nav-link:after{
  top:100%;
  left:0%;
  width:0;
  height:2px;
  background:#222;
  display:block;
  content:'';
  transition: width 0.5s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover:after{
  width:100%;
}

h1,h2,h3,h4,h5,h6 {
  padding-top: 5em;
  margin-top: -5em;
}

#navbar-main {

  background: #f0e9e6;
}


.nav-link{
  color: #5a1f1f;
}

#dropdown-main {
  background-color: #f0e9e6;
  border-color: #f0e9e6;
  color: #5a1f1f;
}

.dropdown-toggle::after {
  display: inline-block;
  width: .3em;
  height: .3em;
  margin: -.3em 0 0 .4em;
  vertical-align: middle;
  content: "";
  border: .3em solid;
  border-width: 0 .15em .15em 0;
  transform: rotateZ(45deg)
}

/*Armo el boton efecto glitch*/

.boton-nocturno, .boton-nocturno::after {
  width: 100px;
  height: 40px;
  font-size: 36px;
  margin-left:30px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, var(--background-boton-color) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 20px;
  box-shadow: 6px 0px 0px var(--box-shadow);
  outline: transparent;
  position: relative;
}

.boton-nocturno::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'nocturn mode';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, var(--box-shadow) 3%, var(--box-shadow) 5%, var(--background-boton-color) 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px var(--box-shadow);
  clip-path: var(--slice-0);
}

.boton-nocturno:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}


.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}